$bg-colour: #151515;
$br-colour: #242424;
$sc-colour: #2a2c30;
$icon-colour: #e4e9ee;
$text-colour: #d3d7dc;
$textsc-colour: #6b6d6f;

body {
  margin: 0;
  overflow: hidden;
}

::selection {
    background-color: #0078d7 !important;
}

.error-row-display {
    font-family: "Segoe UI", sans-serif;
    color: var(--active-text);
    font-size: 14px;
    padding: 1% 1.6% 1% 4%;
    background-color: transparent;
    width: 100%;
    display: flex;
}

.error-row {
    p {
        margin: auto 0;
    }
}

.workspace-section {
    height: 6vh;
    display: flex;
    border-bottom: 1px solid $br-colour;
    padding-left: 4px;
}

.category-title {
    color: $text-colour;
    font-family: "Segoe UI", sans-serif;
    border-width: 1px 0px;
    gap: 2px;
    font-size: 14px;
    font-weight: 550;
    display: inline-flex;
    width: 100%;
    padding: 6px 4px;
    p {
        margin: auto 0;
    }
}

.reveal {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    svg {
        color: $br-colour;
        width: 22px;
        margin: auto 0;
    }
}

.rev-right > svg {
    rotate: 0deg;
}

.rev-down > svg {
    rotate: 90deg;
}

#workspace-rules {
    border-bottom: 1px solid $br-colour;
    padding: 8px 0 12px 0;
}

#workspace-share {
    border-bottom: 1px solid $br-colour;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    height: 20vh;

    div {
        width: 100%;
        display: flex;
        height: 4vh;
        color: $text-colour;

        button,
        input {
            color: $text-colour;
            margin: 0 12px;
            background-color: $br-colour;
            border: none;
            width: 100%;
            border-radius: 4px;
        }
    }

    div:first-child {
        margin-top: 16px;
    }

    p {
        margin: auto 12px;
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
    }
}

#workspace-info {
    height: 20vh;
    font-family: "Segoe UI", sans-serif;
    color: $text-colour;
    border-bottom: 1px solid $br-colour;

    ul {
        padding-left: 20px;

        div {
            width: 100%;
            display: inline-flex;
            gap: 7px;

            select {
                padding: 0 6px;
            }
        }
    }

    p {
        font-size: 14.5px;
        margin: 4px 0;
    }
}

#lint-select {
    height: 30px;
    margin: auto 0;
    background-color: $bg-colour;
    border: $br-colour 1px solid;
    color: $text-colour;
    border-radius: 6px;
    share: $text-colour;
}

footer {
    width: 100%;
    display: inline-flex;

    p {
        margin: 0;
        font-family: "Segoe UI", sans-serif;
        color: $text-colour;
        font-size: smaller;
    }

    #footer_details {
        display: inline-flex;
        width: fit-content;
        margin-left: auto;

        p {
            margin-right: 12px;
        }
    }

    #footer_count {
        display: inline-flex;

        p {
            margin-left: 12px;
        }
    }
}

#editor {
    overflow: auto;

    header {
        display: inline-flex;
    }
}

h4 {
    font-family: "Segoe UI", sans-serif;
    color: $text-colour;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
    margin: auto 0;

    margin-left: 1%;
}

div.group {
    margin: 0 10px;
    height: 100%;
    overflow: auto;
}

.filename {
    font-family: Consolas, monospace;
    font-size: 16.5px;
}

header {
    height: 6vh;
    background-color: $bg-colour;
    display: flex;
}

div.display {
    height: 93%;
    width: 100%;
    position: relative;
}

button:hover {
    cursor: pointer;
}

#tab_menu {
    display: inline-flex;
    max-width: 100%;
    height: 100%;
}

.v33 {
    width: 33vw !important;
}

#tab_menu {
    overflow-x: auto;
}

.tab {
    border-bottom: 1px solid $br-colour;
    width: fit-content;
    display: inline-flex;
    padding-left: 16px;
    padding-bottom: 2px;
    border-right: 1px solid $br-colour;
    gap: 7px;

    button {
        width: fit-content;
        display: inline-flex;
        background-color: transparent;
        border: none;
        gap: 7px;
    }

    p {
        margin: auto;
        font-weight: 500;
        color: $text-colour;
        font-style: italic;
    }
}

.active-tab {
    border-bottom: none !important;
}

#tools {
    width: 100%;
    border-bottom: 1px solid $br-colour;
    border-left: 1px solid $br-colour;
    order: 4;
    display: inline-flex;
    gap: 7px;
    padding: 0 8px;

    button {
        border: none;
        background-color: transparent;
        color: $text-colour;

        p {
            margin: auto;
        }
    }
}

#add_tab {
    height: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $br-colour;
    padding: 0 8px;
    display: flex;
    flex: 1;
    max-width: 100%;

    svg {
        width: 0.9vw;
        margin-right: auto;
        display: block;
        color: $icon-colour;
    }
}

#tools {
    display: flex;
    width: fit-content;
}

.close {
    height: 100%;
    background-color: transparent;
    border: none;
    margin-right: 5px;
    padding-top: 2px;
    z-index: 10;
    svg {
        width: 1.5vw;
        margin: auto;
        display: block;
        color: $icon-colour;
    }
}

#info_panel {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    background-color: $bg-colour;
    height: 100%;
    flex-shrink: 0;
    width: 30%;
}

main {
    overflow-x: hidden;
    background-color: $br-colour;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 1px;

    #header {
        height: 4vw;
        width: 100%;
        display: inline-flex;
        gap: 1px;

        #title {
            background-color: $bg-colour;
        }
        #logo {
            img {
                width: 2.8vw;
                height: 2.8vw;
                background-color: $bg-colour;
                margin: auto;
                border-radius: 4px;
            }
            display: flex;
            width: 4vw;
            height: 4vw;
            background-color: $bg-colour;
        }

        #title {
            width: 100%;
            height: 100%;
            display: inline-flex;

            #git_path {
                width: fit-content;
                display: flex;
                margin: auto auto auto 4%;
                background-color: #2a2c30;
                color: $text-colour;
                border-radius: 6px;
                padding: 3.5px 7px;
            }

            svg {
                width: 1.6vw;
                margin-right: 8px;
            }

            p {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                font-size: 12.5px;
                font-weight: 600;
                margin: auto;
            }
        }
    }

    #body {
        height: 88%;
        width: 100%;
        display: inline-flex;
        gap: 1px;
        #menubar {
            width: 4vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1px;

            #app {
                width: calc(4vw - 2px);
                height: 100%;
                background-color: $bg-colour;

                button:first-child {
                    margin-top: 0.1vw;
                }

                button {
                    width: 100%;
                    height: 4vw;
                    background-color: transparent;
                    border: 0;
                    color: $icon-colour;

                    svg {
                        display: block;
                        margin: auto;
                        width: 1.85vw;
                    }
                }
            }
        }

        #main {
            width: 100%;
            height: 100%;
            display: inline-flex;
            gap: 1px;

            #editor {
                width: 100%;
                display: inline-flex;
                flex-direction: column;

                #codemirror {
                    height: 60vh !important;
                }
            }

            #error_panel {
                width: 40%;
                flex-shrink: 0;
                height: 100%;
                display: inline-flex;
                flex-direction: column;
                gap: 1px;

                #error_display {
                    background-color: $bg-colour;
                    overflow-y: fixed;

                    .group {
                        #table_head {
                            display: grid;
                            grid-template-columns: 13% 65% auto;
                            border-bottom: 1px solid $br-colour;
                            background-color: $bg-colour;
                            width: 100%;
                            position: sticky;
                            top: 0;
                            z-index: 5;

                            p {
                                font-size: 11px;
                                color: $textsc-colour;
                                font-family: "Segoe UI", sans-serif;
                                margin: 9px 0 3px 4px;
                                font-weight: 700;
                            }
                        }

                        #errors {
                            overflow-y: auto;
                            position: inline-flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

.category-toggle,
#submit-button,
#create-link {
    background-color: var(--active-main);
    color: var(--active-text);
    border: 1px solid var(--active-outline);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

#submit-button {
    position: absolute;
    bottom: 0; right: 0;
    margin: 8px 10px;
    padding: 6px 10px;
    display: inline-flex;
    gap: 6px;
}

#submit-button > svg {
    width: 10px;
}

#submit-button > p {
    margin: 0;
}

.category-toggle:hover,
#submit-button:hover,
#create-link:hover {
    background-color: var(--active-buttons-hover);
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--active-text);
  display: inline-block;
}