body {
	margin: 0;
	background-color: var(--active-main);
}
/*
body *, body {
	transition: color .5s ease-in-out, 
	background-color .5s ease-in-out, 
	border-color .5s ease-in-out;
}*/

main {
	display: grid;
	grid-template-columns: 66.4% auto;
	padding: 1vw;
	gap: 1vw;
	width: 98vw;
	position: relative;
}

h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: var(--active-text);
    font-size: 14px;
    width: fit-content; 
    margin: auto 0;
}

h4 {
    color: var(--active-text);
    font-size: 14px;
    width: fit-content; 
    margin: auto 0;
}