:root {
    --darktheme-main: #0d1117;
    --darktheme-second: #161b22;
    --darktheme-buttons: #1f242c;
    --darktheme-buttons-hover: #21262c;
    --darktheme-outline: #30363d;
    --darktheme-text: #e1e9ee;

    --lighttheme-main: #ffffff;
    --lighttheme-second: #f6f8fa;
    --lighttheme-buttons: #eaeef2;
    --lighttheme-buttons-hover: #f0f2f4;
    --lighttheme-outline: #d0d7de;
    --lighttheme-text: #1f2328;
}